<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.project.dao.TableshipMapper">
  <resultMap id="BaseResultMap" type="com.company.project.model.Tableship">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="uuid" jdbcType="INTEGER" property="uuid" />
    <result column="mmsi" jdbcType="VARCHAR" property="mmsi" />
    <result column="Channel_division_ID" jdbcType="VARCHAR" property="channelDivisionId" />
    <result column="longitude" jdbcType="VARCHAR" property="longitude" />
    <result column="latitude" jdbcType="VARCHAR" property="latitude" />
    <result column="datetime" jdbcType="TIMESTAMP" property="datetime" />
    <result column="heading" jdbcType="VARCHAR" property="heading" />
    <result column="speed" jdbcType="VARCHAR" property="speed" />
    <result column="shipclass" jdbcType="VARCHAR" property="shipclass" />
    <result column="state" jdbcType="VARCHAR" property="state" />
    <result column="draught" jdbcType="VARCHAR" property="draught" />
    <result column="length" jdbcType="VARCHAR" property="length" />
    <result column="width" jdbcType="VARCHAR" property="width" />
    <result column="callsign" jdbcType="VARCHAR" property="callsign" />
  </resultMap>
</mapper>